# built application files
*.apk
*.ap_
.metadata/


# keystore
*.keystore

# files for the dex VM
*.dex

# Java class files
*.class


# maven output folder
target

# Local configuration file (sdk path, etc)
local.properties


# IntelliJ files
.idea
*.iml
build/
.gradle/
gradle/*
*.bat
gradlew

# OSX files
.DS_Store

# Windows files
Thumbs.db

# vi swap files
*.swp

# backup files
*.bak
~
